html,
body{
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;

  background-image: url("../img/mountains.jpg");
  width: 1200px;
  height: 773px;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #f2f2f2;



}

.container{
  max-width: 1200px;
  margin: 0 auto;
  list-style: none;
  width: auto;
  text-align: center;
}




.social-btns img{
  background-color: #81b3d2;
  padding: 8px;
}
.logo{
  position: absolute;
  left: 50%;
}

.house {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height:72px;
}

.food {
  background-image: url("../img/icon-2.svg");
  width: 74px;
  height:70px;
}

.gift {
  background-image: url("../img/icon-3.svg");
  width:  64px;
  height: 76px;
}

.range-container{
  position: relative;
  pointer-events: none;
}

.range-container input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
}

.range-container input[type="range"]:last-child{
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}
