
html,
body {
  margin: 0 auto;
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: bold;
  text-transform: uppercase;
  list-style-type: none;
  background-position: top center;
  background-repeat: no-repeat;
  background-color: #ffffff;

}


.container{
  max-width: 1200px;
  margin: 0 auto;
}


.page-header{
  background-color: white;
  margin: 0 auto;
  padding: 0;
  max-width: 1200px;
}


.navigation{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 56px;
  list-style-type: none;
  align-items: center
}




.navigation li{
  width: 240px;
  text-align: center;
}


.navigation a{
  color:#000000;
}

.intro-first-page{


  background-position: center;
  text-align: center;
}


.intro {
  margin: 0;
  padding: 0;
  background-image: url("../img/bg-intro-triangle-desktop.svg"),url("../img/bg-back-desktop.jpg");
  background-repeat: no-repeat;
  background-size: auto, 1200px,517px;
  background-position: 50% bottom;
  padding-top: 78px;
  height: 440px;
}



.baton  {
  font-size: 21px;
  font-weight: 700;
  text-align: center;

}

.baton a {
  padding: 17px 197px 22px 196px;
  background-color: #81b3d2;
  color: white;


}

.baton a:hover{
  background-color: #669ebf;
}
.baton a:active {
  background-color: #5596be;
}


.mountains-filter {
  background-image: url("../img/mountains-filter.jpg");
  width: 1200px;
  height: 562px;

}


a{
  text-decoration: none ;
}


.features{
  background-color: #ffffff;
  width: 1200px;


}
.text-center {
  width: auto;
  text-align: center;
  padding: 61px 380px 107px 380px;

}

.one-third{
  width: auto;
  text-align: center;
  display: inline-block;
  padding-left: 185px;
  padding-top: 36px;
}

img{
  max-width: 100%;
  height: auto;

}


.social-btns img{
  background-color: #81b3d2;
  padding: 8px;
  width: 46px;
  height: 48px;
  margin: 6px;
}
ul.social-btns {
  margin: 0;
}
ul.social-btns li {
  display: inline;
}

.logo{
  position: absolute;
  left: 47%;
}


.range-container{
  position: relative;
  height: 72px;
  pointer-events: none;
}

.range-container input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
}

.range-container input[type="range"]:last-child{
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}
.advertisement>.view-image.two-third{
  grid-column: 2;
  margin: 0;
  height: 300px;
  overflow: hidden;
}

.advertisement>.view-image.two-third img{
  width: 100%;
  height: auto;
}

section.advertisement{
  display: grid;
}

.advertisement > .text-content.one-third{
  grid-column: 1;
  background-color: #81b3d2;
  vertical-align: middle;
}
.advertisement > .text-content.one-third > p{
  color: white;
}
.advertisement > .text-content.one-third > span{
  color: white;
}
.advertisement > .text-content.one-third > h2{
  color: white;
}
.text-content.one-third{
  padding: 46px 60px 64px 60px;
}



.text-content {

  display: inline-block;
  width: 397px;
}
.house{
  margin: 0 auto;
  padding: 60px 0 0 0;
  text-align: center;
}

.food{
  margin: 0 auto;
  padding: 60px 0 0 0;
  text-align: center;
}

.gift{
  margin: 0 auto;
  padding: 60px 0 0 0;
  text-align: center;
}

section.canyon{
  display: grid;
  margin-top: 85px;
}

.canyon > .text-content.one-third{
  grid-column: 2;
  background-color: #81b3d2;
  vertical-align: middle;
  padding-top: 70px;


}
.canyon > .text-content.two-third{
  grid-column: 1;
  overflow: hidden;
}

.canyon > .text-content.one-third > p{
  color: white;
}
.canyon > .text-content.one-third > span{
  color: white;
}
.canyon > .text-content.one-third > h2{
  color: white;
}
