.social-btns img{
  background-color: #81b3d2;
  padding: 8px;
}
.logo{
  position: absolute;
  left: 50%;
}

.house {
  background-image: url("../img/icon-1.svg");
  width: 75px;
  height:72px;
}

.food {
  background-image: url("../img/icon-2.svg");
  width: 74px;
  height:70px;
}

.gift {
  background-image: url("../img/icon-3.svg");
  width:  64px;
  height: 76px;
}

.range-container{
  position: relative;
  pointer-events: none;
}

.range-container input[type="range"]{
  height: 2em;
  display: block;
  margin: 0;
}

.range-container input[type="range"]:last-child{
  margin-top: -2em;
}

input[type="range"]::-webkit-slider-thumb {
  pointer-events: all;
}
input[type="range"]::-moz-range-thumb {
  pointer-events: all;
}
input[type="range"]::-ms-thumb {
  pointer-events: all;
}
